body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #a880ff;
    background-size: 100%;
    font-family: "Inter";
}

.title_trello {
    padding-left: 2vw;
    font-weight: 550;
}

.add-task-btn {
    margin-left: 2vw;
    margin-bottom: 10px;
    padding: 10px;
    text-align: left;
    background-color: white;
    border: 1px solid rgb(205, 205, 205);
    border-radius: 10px;

}


.main_trello {
    display: flex;
    flex-direction: row;
    margin: 0 2vw;
    border-radius: 0 0 5px 5px;
}

.trello_section {
    display: flex;
    flex-direction: column;
    min-width: 25vw;
    height: fit-content;
    background-color: rgb(243, 243, 243);
    border-radius: 15px;
    margin-right: 2vw;
    padding: 10px;
}

.section_card {
    margin-top: 5px;
    background-color: white;
    border: 1px solid rgb(205, 205, 205);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.card_color {
    height: 40px;
    background-color: red;
    border-radius: 10px 10px 0 0;
}

.card_title {
    margin-left: 10px;
    font-weight: 500;
}

.popup {
    position: fixed;
    z-index: 2;
    width: 70vw;
    left: 50%;
    margin-left: -35vw;
    border-radius: 10px;
    display: none;
}

.popup_content {
    display: flex;
    width: 100%;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    position: relative;
}

.close_popup {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: white;
    border-radius: 2px;
}

.popup_color {
    background-color: #f44336;
    height: 70px;
    border-radius: 10px 10px 0 0;
}

.popup_title {
    margin: 20px;
}

.popup_description {
    margin: 20px;
    margin-top: 0;
}

.open {
    display: block;
}

.task_form {
    position: fixed;
    z-index: 2;
    width: 70vw;
    left: 50%;
    margin-left: -35vw;
    border-radius: 10px;
    display: block;
}

.form_description {
    display: flex;
    flex-direction: column;
}